[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyotp = "*"
djangorestframework-simplejwt = "*"
twilio = "*"
phonenumbers = "*"
dotenv = "*"
psycopg2-binary = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
pillow = "*"
django-redis = "*"
redis = {extras = ["ssl"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
